<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS</title>
    <script src="JS/vue.js"></script>
    <script src="JS/axios-0.18.0.js"></script>
    <style>
        td, th, table {
            border-color: black;
            border-style: solid;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<table id="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>score</th>
        <th>grade</th>
    </tr>
    <tr v-for="(member,index) in users">
        <td>{{index + 1}}</td>
        <td>{{member.name}}</td>
        <td>{{member.age}}</td>
        <td>{{member.score}}</td>
        <td>
            <span style="color: aqua" v-if="member.score>=90">A</span>
            <span v-else-if="member.score>=60">B</span>
            <span style="color: red" v-else>F</span>
        </td>
    </tr>
</table>
</body>
<script>
</script>
</html>